@import "ui-variables";
@import "colors";

// Support for vim-mode package
.vim-mode.command-mode:not(.mini) {
  .cursor, .cursor.blink-off {
    .block-cursor(hidden);
  }

  &.editor.is-focused {
    .cursor, .cursor.blink-off {
      .block-cursor;
    }
  }
}

.block-cursor(@visibility: visible) {
  border: 0;
  background-color: @base00;
  visibility: @visibility;
  opacity: 0.5;
}

// Editor Syntax Styles
.editor-colors {
  background-color: @base03;
  color: @base3;
}

.editor {
  .invisible-character {
    color: @base01;
  }

  .indent-guide {
    color: @base01;
    opacity: .5;
  }

  .gutter {
    background-color: @base03;
  }

  .gutter .line-number {
    opacity: .75;
  }

  .gutter .line-number.folded,
  .gutter .line-number:after,
  .fold-marker:after {
    color: @magenta;
  }

  .cursor {
    border-color: @base3;
  }

  .selection .region {
    background-color: @base01;
    color: @base03;
    opacity: .75;
  }

  .is-focused .line-number.cursor-line-no-selection,
  .is-focused .line.cursor-line {
    background-color: @base2;
  }

  .line-number.cursor-line-no-selection {
    background-color: @base01;
  }
}

.bracket-matcher {
  background-color: @base3;
  opacity: 0.3;
}

.comment {
  color: @comment;
  font-style: italic;
}

.entity {
  color: @base1;
}

.keyword {
  color: @red;
}

.keyword.other.phpdoc {
  color: @comment;
  font-weight: bold;
}

.keyword.other {
  color: @green;
}

.function.construct {
  color: @green;
}

.function.var {
  color: @blue;
}

.storage.modifier {
  color: @yellow;
}

.storage.type {
  color: @green;
}

.constant {
  color: @magenta;

  &.numeric,
  &.boolean {
    color: @cyan;
  }
}

.variable {
  color: @blue;
}

.variable.other.property {
  color: @base2;
}

.delimiter, .brace {
  color: @red;
}

.delimiter.period {
  color: @green;
}

.punctuation.variable {
  color: @base0;
}

.punctuation.string {
    color: @base1;
}

.punctuation.parameters,
.punctuation.section.scope {
    color: @orange;
}

.punctuation.section.embedded.begin.php,
.punctuation.section.embedded.end.php {
    color: @magenta;
}

.keyword.control {
    color: @red;
}

.keyword.operator.class {
    color: @yellow;
}

.keyword.operator.assignment {
    color: @base1;
}

.function-call {
    color: @base1;
}

.comparison {
    color: @base2;
}

.invalid.deprecated {
  text-decoration: underline;
  color: @red;
}

.invalid.illegal {
  color: @red;
}

.string {
  color: @green;

  .constant.character.escape {
    color: @blue;
  }

  &.regexp {
    color: @cyan;

    .source.ruby.embedded,
    .string.regexp.arbitrary-repitition {
      color: @red;
    }
  }
}

.wrap-guide {
    border-right: 3px dotted @base02;
    opacity: .75;
    background-color: transparent;
}
